<html>
<body>
  <form action="running" method="post">
    <div>
      Message Size (kb):
      <input type="text" name="size">
    </div>
    <div>
      Test Length (sec):
      <input type="text" name="length">
    </div>
    <div>
      Message Prefix:
      <input type="text" name="prefix">
    </div>
    <div>
      <input type="submit" value="Start">
  </form>
</body>
</html>
