[Unit]
Description=OpenShift Origin Service

[Service]
Type=notify
ExecStart=/usr/bin/openshift start \
          --master-config=/var/lib/openshift/openshift.local.config/master/master-config.yaml \
          --node-config=/var/lib/openshift/openshift.local.config/node-jcantril-centos7-os/node-config.yaml \
          --volume-dir=/var/lib/openshift/openshift.local.volumes \
          --etcd-dir=/var/lib/openshift/openshift.local.etcd
TimeoutStartSec=1min

[Install]
WantedBy=multi-user.target
